<!DOCTYPE html>
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p></p><p></p><p></p><p></p>
<p><div align="center">Hello there! Welcome to SAM Mart</div></p>
<p></p><p></p><p></p>
<p><i>Click on the following links to test the project</i></p>

<h1>Product</h1>
<p><a th:href="@{/product/}">All Products</a></p>
<p><a th:href="@{/product?name=Flakes}">Search Product with name like Flakes</a></p>
<p><a th:href="@{/product/name?name=Flakes}">Test incorrect Product Link to search</a></p>
<p><a th:href="@{/product?name=lotion}">Test Resource not Found exception for Product</a></p>

<h1>Vendor</h1>
<p><a th:href="@{/vendor?vendorId=10000062}">Retrieve specific Vendor details</a></p>
<p><a th:href="@{/vendor/name?vendorName=Ali Baba}">Retrieve vendors by name</a></p>
<p><a th:href="@{/vendorr?vendorId=10000062}">Test incorrect Vendor Link </a></p>
<p><a th:href="@{/vendor/name?vendorName=amazon}">Test Resource not Found exception for Vendor</a></p>	

<h2>CUSTOMER</h2>

<p><a th:href="@{/customer?customerId=10000132}">Retrieve specific Vendor details</a></p>
<p><a th:href="@{/customer?fname=Manmeet}">Retrieve customer by name</a></p>
<p><a th:href="@{/customer/find/?customerId=10000132}">Test incorrect Customer Link </a></p>
<p><a th:href="@{/customer?customerId=111}">Test Resource not Found exception for Customer</a></p>
<p><a th:href="@{/customer/(customerId='10000132',firstName='Arlo',lastName='Something')}">Customer Name and Email Update</a></p>


<!-- <p><a th:href="@{/product/updateProductQuantity/(productId='10000012',quantity='20',operation='subtract')}">Update Product Quantity(Subtract)</a></p> -->



</body>
</html>